<h1>User Dashboard</h1>
<h2>Welcome <%= user.firstname + ' ' + user.lastname %></h2>
<a href="/users/logout">
    <button class="btn waves-effect waves-ripple deep-orange lighten-2" name="action">Logout
    </button>
</a>