<div class='main' id="homeMain">
    <h1>AUC Connect</h1>
    <h2>Welcome to the AUC Connect App</h2>
    <a href="users/register">
        <button class="btn waves-effect waves-ripple deep-orange lighten-2" type="submit" name="action">Join The Community
            <i class="material-icons right">send</i>
        </button>
    </a>
</div>