body {
    background-color: #697475;
    background-image: url(../images/black-paper.png);
    width: 100%;
    height: 100%;
}

/* main div container */
.main {
    display: flex;
    flex-direction: column;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* input styles: text, email, and number */
.input-field label {
    color: black !important;
}

.input-field input:focus+label {
    color: black !important;
}

.input-field input:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}

.navBtn:hover {
    cursor: pointer;
}
